/* strip default margin and padding
move the h1 to the middle of the screen */
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

/* create the circle */
.circle {
	position: absolute;
	width: 75px;
	height: 75px;
	border: 1px solid black;
	border-radius: 50%;
	transition: 0.2s ease-out;
	animation: fade 1s 1;
}

h1 {
	font-size: 75px;
}

/* use this if you don't use the trails */
/* h1:hover ~ .circle {
	width: 200px;
	height: 200px;
	border: 2px dashed red;
	animation: animate 4s linear infinite;
} */

@keyframes animate {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
