.circle {
	width: 100px;
	height: 100px;
	background-color: blue;
	border-radius: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	animation: aa 1s 1;
}

@keyframes aa {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
